/utilities/ignore_time_stamp.txt
/run_statistics/RunPeriod-2019-11/fig1.png
/run_statistics/RunPeriod-2019-11/fig2.png
/run_statistics/RunPeriod-2019-11/fig3.png
/run_statistics/RunPeriod-2019-11/fig4.png
/run_statistics/RunPeriod-2019-11/int_triggers.log
/js_old/
/launch_analysis/
/offmon/
/old/
/pid_syst/
/recon/
/test
