PLUGINS monitoring_hists,ReactionFilter,BTbcal_eta_2,compton,Dstar,ee_convert,eenpip,eta_etapr_eeg,etapipi,etapreeg_2pi,EtaPrm_MKamel,incl_jpsi_lp,jpsi_lp,jpsi_robison,LambdaC,npi_missing,papp,pi0,pi0dalitz_sd,pimpipeta_resolution

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 12

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

REST:DATAVERSIONSTRING recon_RunPeriod-2017-01_ver01
ANALYSIS:DATAVERSIONSTRING analysis_RunPeriod-2017-01_ver01

JANA_CALIB_CONTEXT variation=default calibtime=2017-08-01-17-25-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

TRKFIT:HYPOTHESES 2,3,8,9,11,12,14,15    #GEANT PIDs for tracking: Add e+/- & pbar

#EVENTS_TO_KEEP 50000

ReactionFilter:FS1   EXC_100_2000000		# 2g
ReactionFilter:FS2   EXC_100_1000001		# g, pi0
ReactionFilter:FS3   EXC_100_2			# 2pi0
ReactionFilter:FS4   EXC_100_110		# pi+, pi-
ReactionFilter:FS5   EXC_100_1000110		# g, pi+, pi-
ReactionFilter:FS6   EXC_100_111		# pi+, pi-, pi0
ReactionFilter:FS7   EXC_100_3			# 3pi0
ReactionFilter:FS8   EXC_100_112		# pi+, pi-, 2pi0
ReactionFilter:FS9   EXC_100_220		# 2pi+, 2pi-
ReactionFilter:FS10  EXC_100_221		# 2pi+, 2pi-, pi0
ReactionFilter:FS11  EXC_100_110000		# K+, K-
ReactionFilter:FS12  EXC_100_110001		# K+, K-, pi0
ReactionFilter:FS13  EXC_100_110002		# K+, K-, 2pi0
ReactionFilter:FS14  EXC_100_110110		# K+, K-, pi+, pi-
ReactionFilter:FS15  EXC_100_220000		# 2K+, 2K-
ReactionFilter:FS16  EXC_100_110111		# K+, K-, pi+, pi-, pi0
ReactionFilter:FS17  EXC_101_1			# eta, pi0
ReactionFilter:FS18  EXC_101_2			# eta, 2pi0
ReactionFilter:FS19  EXC_101_110		# eta, pi+, pi-
ReactionFilter:FS20  EXC_101_110000		# eta, K+, K-
ReactionFilter:FS21  EXC_101_111		# eta, pi+, pi-, pi0
ReactionFilter:FS22  EXC_101_220		# eta, 2pi+, 2pi-
ReactionFilter:FS23  EXC_102_0			# 2eta
ReactionFilter:FS24  EXC_102_110		# 2eta, pi+, pi-
