PLUGINS monitoring_hists,ReactionFilter,PLamALam,OmegaBaryon,klambda_scatt,pi0dalitz_sd,Dstar

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 12

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

REST:DATAVERSIONSTRING recon_RunPeriod-2017-01_ver01
ANALYSIS:DATAVERSIONSTRING analysis_RunPeriod-2017-01_ver01

JANA_CALIB_CONTEXT variation=default calibtime=2017-08-15-14-58-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

TRKFIT:HYPOTHESES 2,3,8,9,11,12,14,15    #GEANT PIDs for tracking: Add e+/- & pbar

#EVENTS_TO_KEEP 50000

#GEANT PIDS:
#gamma      =  1
#e+/-       =  2, 3
#pi0/+/-    =  7, 8, 9
#K+/-/S     =  11, 12, 16

#p/n/Lamb   =  14, 13, 18
#Sig+/0/-   =  19, 20, 21
#Xi0/-      =  22, 23
#Omega-     =  24

Reaction1  1_14__16_16_14		# Ks Ks p
Reaction2  1_14__8_12_16_14		# pi+ K- Ks p
Reaction3  1_14__8_12_16_7_14		# pi+ K- Ks pi0 p
Reaction4  1_14__8_12_16_7_7_14		# pi+ K- Ks 2pi0 p
Reaction5  1_14__8_8_9_12_16_14		# pi+ pi+ pi- K- Ks p

Reaction6  1_14__11_16_9_14		# K+ Ks pi- p
Reaction7  1_14__11_16_9_7_14		# K+ Ks pi- pi0 p
Reaction8  1_14__11_16_9_7_7_14		# K+ Ks pi- 2pi0 p
Reaction9  1_14__8_9_9_11_16_14		# pi+ 2pi- K+ Ks p

Reaction10  1_14__11_11_12_18		# 2K+ K- Lambda
Reaction11  1_14__7_8_16_18		# pi0 pi+ Ks Lambda
Reaction12  1_14__8_16_18		# pi+ Ks Lambda
Reaction13  1_14__8_9_11_18		# pi+ pi- K+ Lambda
Reaction14  1_14__11_18			# K+ Lambda

Reaction15  1_14__1_11_18		# gamma K+ Lambda
Reaction16  1_14__1_1_11_18		# 2gamma K+ Lambda
Reaction17  1_14__1_7_11_18		# gamma pi0 K+ Lambda

Reaction18  1_14__11_11_23		# K+ K+ Xi-
Reaction19  1_14__11_m11_23		# K+ (Missing K+) Xi-
Reaction20  1_14__11_11_m0		# K+ K+ (Inclusive)
