PLUGINS monitoring_hists,ReactionFilter

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 12

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

REST:DATAVERSIONSTRING recon_RunPeriod-2017-01_ver02
ANALYSIS:DATAVERSIONSTRING analysis_RunPeriod-2017-01_ver08

JANA_CALIB_CONTEXT variation=default calibtime=2017-11-29-17-05-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)


#EVENTS_TO_KEEP 50000

# GEANT PIDS:
# X/g          =  0, 1
# e+/-         =  2, 3
# pi0/+/-      =  7, 8, 9
# K+/-/S/L     =  11, 12, 16, 10
# eta/eta'     =  17, 35
# omega/phi    =  33, 34

# Etac         =  84
# Jpsi/psi2s   =  83, 88
# D0/D0bar/D+  =  89, 94, 90
# Chic0/1/2    =  85, 86, 87
# D*0/+        =  91, 92

# p/pbar/n     =  14, 15, 13
# Lamb/lbar    =  18, 26
# Sig+/0/-     =  19, 20, 21
# Xi0/-        =  22, 23
# Omega-       =  24
# Lambdac      =  93

#F#: Kinfit enum value (0 is no fit, 1 is p4-only, 2 is vertex only, 4 is vertex-p4)

#B#: # of ± Beam Bunches (e.g. 0 is center peak only, 2 is center ± 2)

#T#: # of extra tracks

#M#: PID # of particle to not constrain kinfit mass

#Convention for final-state order: numerical, but baryons last

# Thomas, Alex B
Reaction1    		1_14__11_12_14		# K+ K- p
Reaction1:Flags		B4_U1			# 4 peak, unused hypotheses


# Luke
Reaction2		1_14__83_14		# J/Psi
Reaction2:Flags 	M83 			# don't constrain Jpsi Mass
COMBO_IMCUT:Low_83 	0.5			# cut J/Psi only at 0.5GeV
COMBO_IMCUT:High_83 	12			# cut J/Psi above 12GeV


# Nacer
Reaction3		1_14__8_9_11_12_14	# pi-, pi+, k-, k+
Reaction3:Flags		U1			# save unused hypotheses to tree


# Peter
Reaction4		1_14__11_11_16_24       #Exclusive Omega-
Reaction4:Flags    	M24_M18_M16

Reaction5          	1_14__11_11_16_24       #Missing Proton
Reaction5:Decay1   	18__9_m14
Reaction5:Flags    	M24_M18_M16

Reaction6          	1_14__11_11_16_24       #Missing Lambda
Reaction6:Decay1   	24__12_m18
Reaction6:Flags    	M24_M18_M16

Reaction7          	1_14__11_11_16_m24      #Missing Omega-
Reaction7:Flags   	M24_M16


# Bradford
Reaction8		1_14__11_12_1_1_14   	# K+, K-, 2g


# Naomi
Reaction9		1_14__11_18		# K+ Lambda
Reaction9:Decay1	18_14__9_14_14		# Lambda proton -> pi- proton proton

Reaction10		1_14__11_18		# K+ Lambda
Reaction10:Decay1	18_14__9_14_14		# Lambda proton -> pi- proton proton
Reaction10:Flags	M18			# don't contrain Lambda


# Tolga
Reaction11		1_14__9_14_14_m25	# pi- proton proton missing neutron


# George
Reaction12		1_14__7_7_14		# pi0 pi0
Reaction12:Flags  	B4

Reaction13  		1_14__8_9_14		# pi+ pi-
Reaction13:Flags  	B4

Reaction14  		1_14__7_17_14		# pi0 eta
Reaction14:Flags  	B4

Reaction15  		1_14__7_7_17_14		# pi0 pi0 eta
Reaction15:Flags  	B4


# Mahmoud
Reaction16		1_14__1_8_9_m14		# pi+ pi- missing proton
PReaction16:Flags	T0			# one beam bunch, no additional tracks


# Cristiano
# TFF STUDIES
Reaction17		1_14__17_8_9_14
Reaction17:Decay 	17__1_2_3
Reaction17:Flags  	B3_M17

Reaction18		1_14__35_8_9_14
Reaction18:Decay	35__1_2_3
Reaction18:Flags	B3_M35

Reaction19		1_14__17_14
Reaction19:Decay     	17__1_2_3
Reaction19:Flags	B3_M17

Reaction20		1_14__35_14
Reaction20:Decay        35__1_2_3
Reaction20:Flags        B3_M35

# B BOSON
Reaction21		1_14__7_8_9_14
Reaction21:Flags       	B3_T4_M7

Reaction22	        1_14__7_8_9_14
Reaction22:Flags       	B3_T4	

Reaction23	        1_14__1_7_14
Reaction23:Flags       	B3_M7

Reaction24	        1_14__1_7_14
Reaction24:Flags       	B3

Reaction25 	        1_14__1_7_14
Reaction25:Flags       	F1_B3


# Colin
Reaction26		1_14__16_16_14		# Ks Ks

Reaction27		1_14__16_16_14		# Ks Ks
Reaction27:Flags	M16			# do not constrain Ks


#Marouen
Reaction28		1_14__8_9_17_14		# pi+ pi- eta

Reaction29		1_14__8_9_17_14		# pi+ pi- eta
Reaction29:Flags	M17			# do not constrain eta mass


# Justin, W&M
Reaction30		1_14__7_7_9_8_14	# pi- pi+ pi0 pi0
Reaction30:Flags 	B3

Reaction31		1_14__7_11_12_14	# pi0 k+ k-
Reaction31:Flags 	B3

Reaction32		1_14__8_9_11_12_14	# pi- pi+ k- k+
Reaction32:Flags 	B3

Reaction33		1_14__7_7_11_12_14	# k- k+ pi0 pi0
Reaction33:Flags 	B3

Reaction34 		1_14__9_11_16_14	# pi- ks k+
Reaction34:Flags 	B3_M16

Reaction35 		1_14__8_12_16_14	# pi+ ks km
Reaction35:Flags 	B3_M16

Reaction36 		1_14__1_14		# compton
Reaction36:Flags 	F0_B3

#Reaction37 		1_14__2_3_14		# e- e+
#Reaction37:Flags	B3

Reaction38 		1_14__8_13		# pi+ n
Reaction38:Flags 	F0_B3

Reaction39 		1_14__1_1_14		# gg
Reaction39:Flags 	B3


