PLUGINS monitoring_hists,ReactionFilter,jpsi_lp

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 12

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

REST:DATAVERSIONSTRING recon_RunPeriod-2017-01_ver02
ANALYSIS:DATAVERSIONSTRING analysis_RunPeriod-2017-01_ver09

JANA_CALIB_CONTEXT variation=default calibtime=2017-11-29-17-05-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)


#EVENTS_TO_KEEP 50000

# GEANT PIDS:
# X/g          =  0, 1
# e+/-         =  2, 3
# pi0/+/-      =  7, 8, 9
# K+/-/S/L     =  11, 12, 16, 10
# eta/eta'     =  17, 35
# omega/phi    =  33, 34

# Etac         =  84
# Jpsi/psi2s   =  83, 88
# D0/D0bar/D+  =  89, 94, 90
# Chic0/1/2    =  85, 86, 87
# D*0/+        =  91, 92

# p/pbar/n     =  14, 15, 13
# Lamb/lbar    =  18, 26
# Sig+/0/-     =  19, 20, 21
# Xi0/-        =  22, 23
# Omega-       =  24
# Lambdac      =  93

#F#: Kinfit enum value (0 is no fit, 1 is p4-only, 2 is vertex only, 4 is vertex-p4)

#B#: # of ± Beam Bunches (e.g. 0 is center peak only, 2 is center ± 2)

#T#: # of extra tracks

#M#: PID # of particle to not constrain kinfit mass

#Convention for final-state order: numerical, but baryons last

#Ashley
Reaction1		1_14__11_18
Reaction1:Flags		M18

Reaction2		1_14__8_9_11_18
Reaction2:Flags		M18

Reaction3		1_14__11_18

Reaction4		1_14__8_9_11_18

Reaction5		1_14__11_11_23
Reaction5:Flags		M23

Reaction6		1_14__11_11_12_18

Reaction7		1_14__11_16_22
Reaction7:Flags		M22

#Reaction8		1_14__11_11_23_7
#Reaction8:Flags		M23

Reaction9		1_14__9_11_11_22
Reaction9:Flags		M22

Reaction10		1_14__7_11_16_22
Reaction10:Flags	M22

Reaction11		1_14__8_11_16_23
Reaction11:Flags	M23

#Reaction12		1_14__1_11_11_23
#Reaction12:Flags	M23

Reaction13		1_14__1_11_16_22
Reaction13:Flags	M22

Reaction14		1_14__11_16_16_18

Reaction15		1_14__11_11_12_20

Reaction16		1_14__11_16_16_20

#CMU

Reaction17		1_14__18_26_14
#Reaction17:Decay1	18__9_14
#Reaction17:Decay2	26__8_15 
Reaction17:Flags   	B3_M18_M26

Reaction18		1_14__18_26_14
#Reaction18:Decay1	18__9_14
#Reaction18:Decay2	26__8_15
Reaction18:Flags	B3

Reaction19		1_14__14_14_15
Reaction19:Flags	B3

Reaction20		1_14__7_8_9_14
#Reaction20:Decay1	7__1_1
Reaction20:Flags	B4_M7

Reaction21		1_14__1_7_14
#Reaction21:Decay1	7__1_1
Reaction21:Flags	B4_M7

Reaction22		1_14__8_9_17_14
#Reaction22:Decay1	17__1_1
Reaction22:Flags	B3_M17

#Mahmoud
Reaction23		1_14__1_8_9_14
Reaction23:Flags 	B3_T0

#Tegan
Reaction24              1_14__7_8_9_14            # pi0 pi+ pi-
Reaction24:Flags        B5_T2_U1

Reaction25              1_14__7_7_7_14            # 3pi0
Reaction25:Flags        B5_T2_U1

Reaction26              1_14__1_1_14              # 2g
Reaction26:Flags        B5_T2_U1

Reaction27              1_14__8_9_17_14           # eta pi+ pi-
Reaction27:Flags        B5_T2_U1

Reaction28              1_14__7_7_17_14           # eta 2pi0
Reaction28:Flags        B5_T2_U1 

#Mark D.
Reaction29		1_14__1_8_9_17_14

Reaction30		1_14__1_1_8_9_14

Reaction31		1_14__1_7_7_17_14

Reaction32		1_14__1_17_14
#Reaction32:Decay      	17__1_1		

Reaction33		1_14__1_17_14
Reaction33:Decay 	17__7_7_7		   

Reaction34		1_14__1_17_14
Reaction34:Decay 	17__7_8_9		   

Reaction35		1_14__7_33_14

Reaction36		1_14__7_33_14
Reaction36:Decay      	33__7_1	  

#Lubomir
Reaction37		1_14__83_14		#gamma p -> J/psi p
Reaction37:Flags 	M83_B3 			#Don't constrain Jpsi Mass
COMBO_IMCUT:Low_83 	0.5
COMBO_IMCUT:High_83 	12



