/*
 * plowbrowser.css
 * ---------------
 *
 * Stylesheet for Plot_Browser.html.
 *
 */

body {
    line-height: 1.5;
    padding: 0px;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
    color: #333333;
}

hr {
    border-top: 1px solid #ccc;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}

#wait_icon {
    visibility: visible;
    width: 25px;
    height: 25px;
    display: inline;
}
